<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hh" class="com.feng.boot.bean.Pet">
        <property name="name" value="tomcat"/>
    </bean>
    <bean id="hehe" class="com.feng.boot.bean.User">
        <constructor-arg index="0" ref="hh"/>
        <constructor-arg index="1" value="lis"/>
        <constructor-arg index="2" value="56"/>
    </bean>
</beans>